/*main styles--*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*float styles---*/

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}

.clearfix:after {
    clear: both;
}


html {
	width: 100%;
}

body {
	background-color: #cdcdcd;
	font-family: 'Open Sans Condensed', sans-serif;
	width: 100%;
}

nav {
	position: relative;
	height: 10%;
	
}

nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.5em;
	padding: 1em;
}

nav ul li:first-child {
	float: left;
	padding-left: 3em;
}

nav ul li:last-child {
	float: right;
	padding-right: 3em
}

nav a {
	text-decoration: none;
	color: #fff;
}

.box-title > p {
	font-family: 'Pacifico', cursive;
	font-size: 3.5em;
	color: #fff;
	text-align: center;
	padding-top: 13px;
}

.main {
	background-color: #fff;
	/*margin-top: 90px;*/
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
	padding-top: 45px;
	padding-bottom: 50px;
	position: relative;
	
}

.question-box {
	width: 50%;
	margin: 0 auto;
	height: 480px;
	padding-top: 30px;
	background-color: brown;
	position: relative;
}
.box-title {
	background-color: green;
    width: 100%;
    height: 95px;
    margin-top:  0;
    position:  absolute;
    top:  0;
}

.quest-one, .quest-two, .quest-three, .quest-four {
	width: 550px;
	height: 380px;
	margin-top: 65px;
	margin-left: auto;
	margin-right: auto;

}

.quest-one {
	background-color: red;
}

.quest-two {
	background-color: grey;
	display: none;
}

.quest-three {
	background-color: yellow;
	display: none;
}

.quest-four {
	background-color: pink;
	display: none;
}

.quest-two, .quest-three, .quest-four,  {
	
}

.feedback {
	background-color: orange;
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: relative;
	top: 167px;
	left: -222px;
}

.feedback-area {
	display: block;
	float:right;
	position: absolute;
	left: 600px;
	max-width: 455px;
	height: 500px;
	padding: 100px 75px 0 0;
	font-size: 14px;
	font-weight: bold;
}


	


/*question box content styles*/

legend {
    padding: 15px;
    font-size: 2em;
    margin:  0 auto;
}
h3.quiz-question {
    font-size: 1.5em;
    padding: 15px;
}

p {
    padding-top: 13px;
    font-size: 1.4em;
    padding-left: 17px;
}

input {
    margin-right:  15px;
}

/*images*/




/*animations--*/



